<% session[:current_profile] = @profile.id %>

<h1><%= @profile.name[-1, 1] == "s" ? "#{@profile.name}'" : "#{@profile.name}'s" %> profile</h1>
<div class="profile_header">
  <div class="profile_inner_header_left">
    
  <%= image_tag url_for(@profile.image), size: "150x150", :style => "float: right"%>
    
  <%# <p>Your Wall</p> %>
  <div class="new_post_button"> 
    <%= link_to new_post_path do %>
Post to this wall
    <% end %>
  </div>
  <br>
  <br>
    <div class="id_post_view">
      <% @posts.reverse.each do |post| %>
        <% if post.loc_id == @user.id %>
          <div class="post_container" >
            <div class="post_container_user">
              <%= image_tag url_for(User.find(post.user_id).image), size: "50x50", :style => "border-radius: 100px;"%> User <%= post.name %>: <%= link_to post.message, post %>
              pic here <%= post.name %>:
            </div>
            <hr>
            <div class="post_container_text">
            <%= link_to post.message, post %>
            </div>
            <div class="post_container_likes"><%= post.likes.count %> <%= (post.likes.count) == 1 ? "Like" : "Likes" %></div>
            <% post.comments.each do |comment| %>
              <div class="comment_container">
                <%= comment.name %>: <%= comment.comment_body %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div><br>
  </div>

<div class="profile_inner_header_right">
  <div class="post_container_text" style="text-align: center">
    <h3>Your Friends:</h3>
    <hr>
    <ul>
      <% @users.each do |user| %>
        <% if user.id != session[:user_id] %>
          <li><%= link_to user.name, user %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
</div>
