<% session[:current_profile] = session[:user_id] %>

<h1>Public Post Feed</h1>
<div class="new_post_button"> 
  <%= link_to new_post_path do %>
    New post
  <% end %>
</div>

<div class="id_post_view">
  <% @posts.reverse.each do |post| %>
    <div class="post_container" >
      <div class="post_container_user">
        <%= image_tag url_for(User.find(post.user_id).image), class: "friend_image" %> <%= post.name class: "friend_text"%> posted:
      </div>
      <hr>
      <div class="post_container_text">
      <%= link_to post.message, post %>
      </div>
      <div class="post_container_likes"><%= post.likes.count %> <%= (post.likes.count) == 1 ? "Like" : "Likes" %></div>
      <% post.comments.each do |comment| %>
        <div class="comment_container">
          <%= comment.name %>: <%= comment.comment_body %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
