<h1>Make a New Post</h1>

<% if logged_in? %>
<div class="form_container" style="">
  <%= form_for @post do |form| %>
    <div class="form_input">
      <%= form.text_area :message, placeholder: "Enter your message", rows: 7 %>
    </div>
      <%= form.label :images %>
      <%= form.file_field :images, multiple: true %>
    <div class="input" style="position: relative; margin: 0 auto;">
      <%= form.submit "Upload Files" %>
    </div>
      <%= form.hidden_field :user_id, value: session[:current_user_id] %>
      <%= form.hidden_field :loc_id, value: session[:current_profile] %>
    <div class="input" style="margin: 0 auto">
      <%= form.submit "Create a Post" %>
    </div>
    <% end %>
<% end %>
  </div>
